/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button{
	cursor: pointer;
	background-color: #FFF;
	border: none;
	color: #000;
	font-family: 'Work Sans' ;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.EditHeader{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	color: #fff;
	background: #000;
	height: 59px;
	width: 100vw;
	top: 0;
	left: 0;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	margin-top: 75px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio .titlePortfolio{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	margin-left: 66px;
}

#portfolio .titlePortfolio button{
	margin-left: 20px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	cursor: pointer;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modals{
	position: absolute;
	background: #FFF;
	color: #000;
	width: 630px;
	height: 688px;
	border-radius: 10px;
	border: 1px #000 solid;
	top: 660px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.modals .closeButton{
	display: flex;
	justify-content: end;
	align-items: center;
}

.modalForm .closeButton{
	justify-content: space-between !important;
}

.modals .closeButton i{
	font-size: 20px;
	transition: 0.3s all;
}

.modals .closeButton .buttonClose:hover i{
	transform: rotate(90deg);
}

.modals h3{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	margin-top: 15px;
}

.modalEditPicture .data-list figure{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.modalEditPicture .data-list figure img{
	width: 76px;
}

.filter{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: #0000004b;
}

.pictureModal{
	position: relative;
	padding: 50px 100px;
	padding-bottom: 70px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(76px, 1fr));
    justify-content: center;
	gap: 40px 10px;
}

.pictureModal::before, .formBarreBottom::before{
	content: '';
	position: absolute;
	width: 70%;
	height: 1px;
	background-color: #B3B3B3;
}

.pictureModal::before{
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.formBarreBottom::before{
	bottom: 28%;
	left: 50%;
	transform: translateX(-50%);
}

.pictureModal figure img{
	width: 76px;
	height: 102px;
}

.pictureModal figure{
	position: relative;
}

.trashLink{
	position: absolute;
	width: 17px;
	height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 5px;
	right: 5px;
	background-color: #000;
	color: #fff;
	font-size: 10px;
}

.divButtonModal{
	margin-top: 50px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.displayNone{
	display: none;
}

.displayBlock{
	display: block;
}

.upload-container {
	background-color: #e9f1f7; /* Couleur de fond */
	border-radius: 8px; /* Bords arrondis */
	padding: 20px;
	text-align: center;
	max-width: 300px;
	margin: 0 auto; /* Centrer le conteneur */
}
  
.upload-label {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	width: 420px;
}

.upload-container i{
	font-size: 50px;
	color: #B9C5CC;
	margin-bottom: 8px;
}
  
  
.upload-text {
	display: inline-block;
	background-color: #d1d9df;
	color: #4a7b99;
	padding: 10px 20px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 16px;
}

.upload-info {
margin-top: 10px;
font-size: 12px;
color: #7c8a99;
}

#file-upload {
	display: none; /* Masquer l'input de fichier */
}

.modalForm form{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
}

.modalForm form > div{
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	width: 420px;
}

.modalForm form > .divTcForm label{
	align-self: flex-start;
}

.modalForm form > div input, .modalForm form > div select{
	width: 100%;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.addPicture{
	width: 237px;
	height: 36px;
	border-radius: 60px;
	color: #fff !important;
	background-color: #1D6154 !important;
	cursor: pointer;
}
.myButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	margin-bottom: 30px;
}
.myButtons button {
	border: 1px solid #1D6154;
	border-radius: 25px;
	padding: 8px;
	color: #1D6154;
	transition: 0.2s all;
}
.myButtons button:hover {
	background-color: #1D6154;
	color: white;
}

.activeButton{
	background-color: #1D6154;
	color: white !important;
}